---
title: duck titles
layout: layouts/home.njk
description: Description
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: CONNECT
---

<p>
hello boys
</p>
